### Assignment 2 - Natisha Mallick- EC22373

### Part 1

#### Solution 3.

In [1]:
!pip install cubes
!pip install -Iv sqlalchemy==1.3.9

from sqlalchemy import create_engine
from cubes.tutorial.sql import create_table_from_csv

Requirement already satisfied: cubes in c:\users\natisha\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: jsonschema in c:\users\natisha\anaconda3\lib\site-packages (from cubes) (4.4.0)
Requirement already satisfied: python-dateutil in c:\users\natisha\anaconda3\lib\site-packages (from cubes) (2.8.2)
Requirement already satisfied: expressions>=0.2.3 in c:\users\natisha\anaconda3\lib\site-packages (from cubes) (0.2.3)
Requirement already satisfied: grako>=3.9.3 in c:\users\natisha\anaconda3\lib\site-packages (from expressions>=0.2.3->cubes) (3.99.9)
Requirement already satisfied: attrs>=17.4.0 in c:\users\natisha\anaconda3\lib\site-packages (from jsonschema->cubes) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\natisha\anaconda3\lib\site-packages (from jsonschema->cubes) (0.18.0)
Requirement already satisfied: six>=1.5 in c:\users\natisha\anaconda3\lib\site-packages (from python-dateutil->cubes) (1.16.0)
Using pip 21.2.4 from C:\Users\Natisha\anaconda3\lib\site-packages\pip (python 3.9)
Collecting sqlalchemy==1.3.9
  Using cached SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.32

In [2]:
engine = create_engine('sqlite:///data.sqlite')
create_table_from_csv(engine,
                      "IBRD_Balance_Sheet__FY2010.csv",
                      table_name="ibrd_balance",
                      fields=[
                          ("category", "string"),
                          ("category_label", "string"),
                          ("subcategory", "string"),
                          ("subcategory_label", "string"),
                          ("line_item", "string"),
                          ("year", "integer"),
                          ("amount", "integer")],
                      create_id=True
                     )

In [3]:
from cubes import Workspace

workspace = Workspace()
workspace.register_default_store("sql", url="sqlite:///data.sqlite")

In [4]:
workspace.import_model("tutorial_model.json")

In [5]:
cube = workspace.cube("ibrd_balance")
browser = workspace.browser(cube)

#### Json File to min - max 

{
    "dimensions": [
        {
         "name":"item",
         "levels": [
                {
                    "name":"category",
                    "label":"Category",
                    "attributes": ["category", "category_label"]
                },
                {
                    "name":"subcategory",
                    "label":"Sub-category",
                    "attributes": ["subcategory", "subcategory_label"]
                },
                {
                    "name":"line_item",
                    "label":"Line Item",
                    "attributes": ["line_item"]
                }
            ]
        },
        {"name":"year", "role": "time"}
    ],
    "cubes": [
        {
            "name": "ibrd_balance",
            "dimensions": ["item", "year"],
            "measures": [{"name":"amount", "label":"Amount"}],
            "aggregates": [
                    {
                        "name": "amount_sum",
                        "function": "sum",
                        "measure": "amount"
                    },
                    {
                        "name": "amount_min",
                        "function": "min",
                        "measure": "amount"
                    },
                    {
                        "name": "amount_max",
                        "function": "max",
                        "measure": "amount"
                    },
                    {
                        "name": "record_count",
                        "function": "count"
                    }
                ],
            "mappings": {
                          "item.line_item": "line_item",
                          "item.subcategory": "subcategory",
                          "item.subcategory_label": "subcategory_label",
                          "item.category": "category",
                          "item.category_label": "category_label"
                         },
            "info": {
                "min_date": "2010-01-01",
                "max_date": "2010-12-31"
            }
        }
    ]
}

In [6]:
result = browser.aggregate()
print(result.summary["amount_min"])
print(result.summary["amount_max"])

-3043
128577

In [7]:
result = browser.aggregate(drilldown=["year"])
for record in result:
    print(record)

{'year': 2009, 'amount_sum': 550840, 'amount_min': -1683, 'amount_max': 110040, 'record_count': 31}
{'year': 2010, 'amount_sum': 566020, 'amount_min': -3043, 'amount_max': 128577, 'record_count': 31}

#### Solution 4.

In [8]:
engine2 = create_engine('sqlite:///data2.sqlite')
create_table_from_csv(engine2,
                      "country-income.csv",
                      table_name="Income",
                      fields=[
                          ("Region", "string"),
                          ("age", "integer"),
                          ("Income", "integer"),
                          ("Online_shopper", "string"),],
                      create_id=True
                     )

In [9]:
workspace_income = Workspace()
workspace_income.register_default_store("sql", url="sqlite:///data2.sqlite")

# JSON for country-income

{
    "dimensions": [
       {
         "name": "region",
         "label":"Region_label",
         "attributes": ["Region"]
       },
       {
         "name": "age",
         "label":"age_label",
         "attributes": ["age"]
       },
       {
         "name": "online_shopper",
         "label":"online_shopper_label",
         "attributes": ["Online_shopper"]
       }
    ],
    "cubes": [
        {
            "name": "Income",
            "dimensions": ["region","age","online_shopper"],
            "measures": [{"name":"Income", "label":"Income"}],
            "aggregates": [
                    {
                        "name": "income_total",
                        "function": "sum",
                        "measure": "Income"
                    },
                    {
                        "name": "income_min",
                        "function": "min",
                        "measure": "Income"
                    },
                    {
                        "name": "income_max",
                        "function": "max",
                        "measure": "Income"
                    },
                    {
                        "name": "income_avg",
                        "function": "avg",
                        "measure": "Income"
                    }
                ]
        }
    ]
}

In [10]:
workspace_income.import_model("country-income-model.json")
cube = workspace_income.cube("Income")
browser = workspace_income.browser(cube)
result = browser.aggregate()

print(result.summary)

result = browser.aggregate(drilldown=["region"])
for record in result:
    print(record)

{'income_total': 688800.0, 'income_min': 57600, 'income_max': '', 'income_avg': 68880.0}
{'region': 'Brazil', 'income_total': 193200, 'income_min': 57600, 'income_max': 73200, 'income_avg': 64400.0}
{'region': 'India', 'income_total': 331200, 'income_min': 69600, 'income_max': 94800, 'income_avg': 82800.0}
{'region': 'USA', 'income_total': 164400.0, 'income_min': 64800, 'income_max': '', 'income_avg': 54800.0}